.img {
  height: 200px;
}

.cardList {
  display: grid;
  grid-template-columns: 33.3% 33.3% 33.3%;
  width: 60%;
  grid-gap: 10px;
}

.card {
  text-align: center;
  padding: 15px;
  h4 {
    padding-bottom: 10px;
  }
}
